@model System.Collections.Generic.IEnumerable<BalloonShop.Model.Balloon>
<div class="row-fluid">
    @foreach (var item in Model.Select((x, i) => new { Index = i + 1, Product = x }).ToList())
    { 
        <div class="span4">
            <a href="@Url.Action("Show", "Balloon", new { id = item.Product.Id })" style="width:110px; height:105px; display:block;" class="pull-left">
                <img src="/Content/ProductImages/@item.Product.Thumb" class="product-image" />
            </a>
            <a class="ProductName" href="@Url.Action("Show", "Balloon", new { id = item.Product.Id })">@item.Product.Name</a>
            <br />
            <span>@item.Product.Description.ShortenText()</span>
            <br />
            <span>Price:</span> <span class="ProductPrice">@item.Product.Price.ToString("c")</span>
            <form method="post" action="@Url.Action("Add", "Cart")">
                <input type="hidden" name="balloonid" value="@item.Product.Id" />
                <input type="hidden" name="returnurl" value="@Request.RawUrl" />
                <input type="submit" value="Add to cart" class="btn btn-mini btn-success pull-right" />
            </form>
        </div>
        @(Html.Raw((item.Index % 3 == 0) ? "</div><div class=\"row-fluid\">" : ""))
    }
</div>
