@model BalloonShop.Model.Balloon
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    @{Html.RenderAction("Navigation", "Department");}
    <br />
    @{Html.RenderPartial("../Search/SearchForm");}
    <br />
    @{Html.RenderAction("Summary", "Cart");}
}

<h1>@Model.Name</h1>
<img src="/Content/ProductImages/@Model.Image" class="pull-left product-image" />
<span class="lead">
    Price:
    <strong>@Model.Price.ToString("c")</strong> 
</span>
<p>
    @Model.Description
</p>
<div class="clearfix"></div>
<br />
<br />
<form method="post" action="@Url.Action("Add", "Cart")">
    <div class="form-actions">
        <input type="hidden" name="balloonId" value="@Model.Id" />
        <input type="submit" value="Add to Cart" class="btn btn-success btn-large" />
    </div>
</form>
<br />
<br />

