@model BalloonShop.Model.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="AdminTitle">Displaying Order #@Model.Id</span>
<br />
<br />
<form>
<table class="AdminPageText">
    <tr>
        <td width="130">Total Cost:</td>
        <td>
            <span class="ProductPrice">@Model.TotalCost.ToString("0.00")</span>
        </td>
    </tr>
    <tr>
        <td width="130">Status:</td>
        <td>
            @Model.StatusText()
        </td>
    </tr>
    <tr>
        <td width="130">Date Created:</td>
        <td>
            @Model.DateCreated
        </td>
    </tr>
    <tr>
        <td width="130">Date Shipped:</td>
        <td>
            @Model.DateShipped
        </td>
    </tr>
    <tr>
        <td width="130">Authorization Code:</td>
        <td>
            <input type="text" name="authCodeTextBox" style="width:400px;" value="@Model.AuthCode" />
        </td>
    </tr>
    <tr>
        <td width="130">Reference Number:</td>
        <td>
            <input type="text" name="referenceTextBox" style="width:400px;" value="@Model.Reference" />
        </td>
    </tr>
    <tr>
        <td width="130">Comments:</td>
        <td>
            <input type="text" name="commentsTextBox" style="width:400px;" value="@Model.Comments" />
        </td>
    </tr>
    <tr>
        <td width="130">Customer Name:</td>
        <td>
            <input type="text" name="customerNameTextBox" style="width:400px;" value="@Model.CustomerName" disabled="disabled" />
        </td>
    </tr>
    <tr valign="top">
        <td width="130">Shipping Address:</td>
        <td>
            <textarea style="width:400px; height:200px;" disabled="disabled" name="shippingAddressTextBox">@ViewBag.Customer.Address()</textarea>
        </td>
    </tr>
    <tr valign="top">
        <td width="130">Shipping Type:</td>
        <td>
            <input type="text" name="shippingTypeTextBox" style="width:400px;" value="@Model.Shipping.Name" disabled="disabled" />
        </td>
    </tr>
    <tr>
        <td width="130">Customer Email:</td>
        <td>
            <input type="text" name="customerEmailTextBox" style="width:400px;" value="@Model.CustomerEmail" disabled="disabled" />
        </td>
    </tr>
</table>
<br />
<button class="AdminButtonText" style="width:100px;">Edit</button>
    </form>
<br />
<form action="/order/process" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="status" value="@Model.Status" />
    <button class="AdminButtonText" style="width:100px;"@(ViewBag.OrderProcessFinished ? "disabled" : "")>Process Order</button>
</form>
<br />
<form action="/order/cancel/" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" class="AdminButtonText" style="width:100px;" value="Cancel Order" />
</form>
<br />
<span class="AdminPageText">The order contains these items:</span>
<br />
<table class="Grid" cellpadding="5" cellspacing="0">
    <thead>
        <tr class="GridHeader">
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetails.Select((x, i) => new { detail = x, index = i }))
{
        <tr class="@(item.index % 2 == 0 ? "GridRow" : "GridAlternateRow")">
            <td>@item.detail.ProductId</td>
            <td>@item.detail.ProductName</td>
            <td>@item.detail.Quantity</td>
            <td>@item.detail.UnitCost.ToString("0.00")</td>
            <td>@item.detail.Subtotal.ToString("0.00")</td>
        </tr>
}
    </tbody>
</table>

<span class="AdminPageText">Order audit trail:</span>
<br />

<table class="Grid" cellpadding="5" cellspacing="0">
    <thead>
        <tr class="GridHeader">
            <th>Audit ID</th>
            <th>Date Stamp</th>
            <th>Message Number</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in (ViewBag.Audits as IEnumerable<Audit>).Select((x, i) => new { audit = x, index = i }))
{
        <tr class="@(item.index % 2 == 0 ? "GridRow" : "GridAlternateRow")">
            <td>@item.audit.Id</td>
            <td>@item.audit.Date</td>
            <td>@item.audit.MessageNumber</td>
            <td>@item.audit.Message</td>
        </tr>
}
    </tbody>
</table>
