@model BalloonShop.Model.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="AdminTitle">Displaying Order #@Model.Id</span>
<br />
<br />
<table class="AdminPageText">
    <tr>
        <td width="130">Total Cost:</td>
        <td>
            <span class="ProductPrice">@Model.TotalCost.ToString("0.00")</span>
        </td>
    </tr>
    <tr>
        <td width="130">Date Created:</td>
        <td>
            <input type="text" name="dateCreatedTextBox" style="width:400px;" value="@Model.DateCreated" />
        </td>
    </tr>
    <tr>
        <td width="130">Date Shipped:</td>
        <td>
            <input type="text" name="dateShippedTextBox" style="width:400px;" value="@Model.DateShipped" />
        </td>
    </tr>
    <tr>
        <td width="130">Status:</td>
        <td>
            @Model.StatusText()
        </td>
    </tr>
    <tr>
        <td width="130">Authorization Code:</td>
        <td>
            <input type="text" name="authCodeTextBox" style="width:400px;" value="@Model.AuthCode" />
        </td>
    </tr>
    <tr>
        <td width="130">Reference Number:</td>
        <td>
            <input type="text" name="referenceTextBox" style="width:400px;" value="@Model.Reference" />
        </td>
    </tr>
    <tr>
        <td width="130">Comments:</td>
        <td>
            <input type="text" name="commentsTextBox" style="width:400px;" value="@Model.Comments" />
        </td>
    </tr>
    <tr>
        <td width="130">Customer Name:</td>
        <td>
            <input type="text" name="customerNameTextBox" style="width:400px;" value="@Model.CustomerName" disabled="disabled" />
        </td>
    </tr>
    <tr valign="top">
        <td width="130">Shipping Address:</td>
        <td>
            <textarea style="width:400px; height:200px;" disabled="disabled" name="shippingAddressTextBox"></textarea>
        </td>
    </tr>
    <tr valign="top">
        <td width="130">Shipping Type:</td>
        <td>
            <input type="text" name="shippingTypeTextBox" style="width:400px;" value="" disabled="disabled" />
        </td>
    </tr>
    <tr>
        <td width="130">Customer Email:</td>
        <td>
            <input type="text" name="customerEmailTextBox" style="width:400px;" value="@Model.CustomerEmail" disabled="disabled" />
        </td>
    </tr>
</table>
<br />
<button class="AdminButtonText" style="width:100px;">Edit</button>
<button class="AdminButtonText" style="width:100px;">Update</button>
<button class="AdminButtonText" style="width:100px;">Cancel</button>
<br />
<button class="AdminButtonText" style="width:100px;">Process Order</button>
<br />
<form action="/order/cancel/" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" class="AdminButtonText" style="width:310px;" value="Cancel Order" />
</form>
<br />
<span class="AdminPageText">The order contains these items:</span>
<br />
<table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
@foreach (var detail in Model.OrderDetails)
{
        <tr>
            <td>@detail.ProductId</td>
            <td>@detail.ProductName</td>
            <td>@detail.Quantity</td>
            <td>@detail.UnitCost.ToString("0.00")</td>
            <td>@detail.Subtotal.ToString("0.00")</td>
        </tr>
}
    </tbody>
</table>

<span class="AdminPageText">Order audit trail:</span>
<br />

<table>
    <thead>
        <tr>
            <th>Audit ID</th>
            <th>Date Stamp</th>
            <th>Message Number</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
@foreach (var audit in ViewBag.Audits)
{
        <tr>
            <td>@audit.Id</td>
            <td>@audit.Date</td>
            <td>@audit.MessageNumber</td>
            <td>@audit.Message</td>
        </tr>
}
    </tbody>
</table>
