@model IEnumerable<Order>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span3">
        <form action="/order/index" method="get" class="form-inline">
            <fieldset>
                <legend>Show orders by customer</legend>
                <select name="customer">
                    <option value="">Choose</option>
                    @foreach (var customer in ViewBag.Customers)
                    {
                        <option value="@customer.Id" @(customer.Id == ViewBag.CustomerId ? "selected=\"selected\"" : "")>@customer.Email</option>
                    }
                </select>
                <button class="btn btn-small btn-info">Go</button>
            </fieldset>
        </form>
    </div>
    <div class="span2">
        <form action="/order/index" method="get" class="form-inline">
            <fieldset>
                <legend>Get order by ID</legend>
                <input type="text" name="orderid" style="width: 77px;" value="@ViewBag.OrderId" />
                <button class="btn btn-small btn-info">Go</button>
            </fieldset>
        </form>
    </div>
    <div class="span3">
        <form action="/order/index" method="get" class="form-inline">
            <fieldset>
                <legend>Show the most recent orders</legend>
                <input type="text" name="recentcount" maxlength="4" style="width: 40px;" value="20" />
                <button class="btn btn-small btn-info">Go</button>
            </fieldset>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
        <form action="/order/index" method="get" class="form-inline">
            <fieldset>
                <legend>Show all orders created between</legend>
                <input type="text" name="startdate" class="date" style="width: 72px;" />
                -
                <input type="text" name="enddate" class="date" style="width: 72px;" />
                <button class="btn btn-small btn-info">Go</button>
            </fieldset>
        </form>
    </div>
    <div class="span3">
        <form action="/order/index" method="get" class="form-inline">
            <fieldset>
                <legend>Show all orders awaiting stock check</legend>
                <button name="filter" value="awatingstockcheck" class="btn btn-small btn-info">Go</button>
            </fieldset>
        </form>
    </div>
    <div class="span3">
        <form action="/order/index" method="get" class="form-inline">
            <fieldset>
                <legend>Show all orders awaiting shipment</legend>
                <button name="filter" value="awatingshipment" class="btn btn-small btn-info">Go</button>
            </fieldset>
        </form>
    </div>
</div>
<br />
<table class="table grid">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Date Created</th>
            <th>Date Shipped</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((x, i) => new { order = x, index = i }))
        {
            <tr class="@(item.index % 2 == 0 ? "" : "alternate")">
                <td>@item.order.Id</td>
                <td>@item.order.DateCreated</td>
                <td>@item.order.DateShipped</td>
                <td>@item.order.StatusText()</td>
                <td></td>
                <td><a href="@Url.Action("Edit", "Order", new { id = item.order.Id })">Select</a></td>
            </tr>
        }
    </tbody>
</table>
<br />

