@model IEnumerable<Order>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="AdminPageText">Show orders by customer</span>
<select name="userDropDown"></select>
<button class="AdminButtonText">Go</button>
<br />
Get order by ID
    <input type="text" name="orderIDBox" style="width: 77px;" />
<button name="byIDGo" class="AdminButtonText">Go</button>
<br />
Show the most recent
<input type="text" name="recentCountTextBox" maxlength="4" style="width: 40px;" value="20" />
orders
    <button class="AdminButtonText">Go</button>
<br />
Show all orders created between
    <input type="text" name="startDateTextBox" style="width: 72px;" />
and
<input type="text" name="endDateTextBox" style="width: 72px;" />
<button class="AdminButtonText">Go</button>
<br />
Show all orders awaiting stock check
<button class="AdminButtonText">Go</button>
<br />
Show all orders awaiting shipment
<button class="AdminButtonText">Go</button>
<br />
<br />
<br />
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Date Created</th>
            <th>Date Shipped</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var order in Model)
{
        <tr>
            <td>@order.Id</td>
            <td>@order.DateCreated</td>
            <td>@order.DateShipped</td>
            <td>@order.StatusText()</td>
            <td><a href="@Url.Action("Edit", "Order", new { id = order.Id })">Select</a></td>
        </tr>
}
    </tbody>
</table>
<br />

