@model IEnumerable<Order>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/order/index" method="get">
    <span class="AdminPageText">Show orders by customer</span>
    <select name="customer">
        <option value="">Choose</option>
        @foreach (var customer in ViewBag.Customers)
        {
            <option value="@customer.Id" @(customer.Id == ViewBag.CustomerId ? "selected=\"selected\"" : "")>@customer.Email</option>
        }
    </select>
    <button class="AdminButtonText">Go</button>
</form>
<br />
<form action="/order/index" method="get">
    <span class="AdminPageText">Get order by ID</span>
    <input type="text" name="orderid" style="width: 77px;" value="@ViewBag.OrderId" />
    <button class="AdminButtonText">Go</button>
</form>
<br />
<form action="/order/index" method="get">
    <span class="AdminPageText">Show the most recent
        <input type="text" name="recentcount" maxlength="4" style="width: 40px;" value="20" />
        orders</span>
    <button class="AdminButtonText">Go</button>
</form>
<br />
<form action="/order/index" method="get">
    <span class="AdminPageText">Show all orders created between
        <input type="text" name="startdate" class="date" style="width: 72px;" />
        and
        <input type="text" name="enddate" class="date" style="width: 72px;" />
    </span>
    <button class="AdminButtonText">Go</button>
</form>
<br />
<form action="/order/index" method="get">
    <span class="AdminPageText">Show all orders awaiting stock check
        <button name="filter" value="awatingstockcheck" class="AdminButtonText">Go</button></span>
</form>
<br />
<form action="/order/index" method="get">
    <span class="AdminPageText">Show all orders awaiting shipment
        <button name="filter" value="awatingshipment" class="AdminButtonText">Go</button></span>
</form>
<br />
<br />
<table class="Grid" cellspacing="0" cellpadding="5">
    <thead>
        <tr class="GridHeader">
            <th>Order ID</th>
            <th>Date Created</th>
            <th>Date Shipped</th>
            <th>Status</th>
            <th>Customer Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((x, i) => new { order = x, index = i }))
        {
            <tr class="@(item.index % 2 == 0 ? "GridRow" : "GridAlternateRow")">
                <td>@item.order.Id</td>
                <td>@item.order.DateCreated</td>
                <td>@item.order.DateShipped</td>
                <td>@item.order.StatusText()</td>
                <td></td>
                <td><a href="@Url.Action("Edit", "Order", new { id = item.order.Id })">Select</a></td>
            </tr>
        }
    </tbody>
</table>
<br />

