@if (ViewBag.HideCartNavigation == null || ViewBag.HideCartNavigation == false) {
<div>
    @if (ViewBag.Cart.Count > 0)
    {
        <a class="btn btn-block btn-info" data-toggle="modal" data-target="#cartModal">
            <i class="icon-shopping-cart icon-white"></i><strong>@ViewBag.Total.ToString("c")</strong>
        </a>

        <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        	<h4 class="modal-title" id="cartLabel">Cart</h4>
        </div>
        <div class="modal-body cart-content">
            <ul>
                <li class="row list-inline columnCaptions">
      						<span>QTY</span>
      						<span>ITEM</span>
      						<span>Price</span>
      					</li>
                @foreach (var item in ViewBag.Cart)
                {
                    <li class="row">
                    	<span class="quantity">@item.Quantity</span>
                    	<span class="name">@item.Product.Name</span>
                    	<span class="price">@item.Product.Price.ToString("c")</span>
                    </li>
                }
                <li class="row totals">
                	<span class="name">Total:</span>
                	<span class="price">@ViewBag.Total.ToString("c")</span>
                  <span class="order">
                    <a class="btn btn-primary" href="/Cart">Cart</a>
                    <a class="btn btn-success" href="/Order/Checkout">Checkout</a>
                  </span>
                </li>
            </ul>
        </div>
        </div>
        </div>
        </div>
    }
    else
    {
        <strong>Your shopping cart is empty.</strong>
    }
</div>
}

@*<table class="cart-content">
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Quantity x&nbsp;</td>
        <td><a href="@Url.Action("Show", "Balloon", new { id = item.Product.Id })" title="@item.Product.Name" class="shortentext">@item.Product.Name</a></td>
        <td style="text-align:right;">@((item.Product.Price * item.Quantity).ToString("c"))</td>
    </tr>
}
</tbody>
<tfoot>
    <tr>
        <td colspan="3"><a href="@Url.Action("Index", "Cart")">Go to cart</a></td>
    </tr>
</tfoot>
</table>*@
