@if (ViewBag.HideCartNavigation == null || ViewBag.HideCartNavigation == false) { 
<div>
    @if (ViewBag.Cart.Count > 0)
    {     
        <a href="/Cart" class="btn btn-block btn-info" rel="popover" data-placement="bottom" data-html="true" data-title="Cart summary" data-source=".cart-content" title="Cart summary">
            <i class="icon-shopping-cart icon-white"></i><strong>@ViewBag.Total.ToString("c")</strong>
        </a>

        <div class="hide">
            <ul class="cart-content thumbnails">
                <li><a href="/Cart" class="btn btn-mini">Go to cart</a></li>
                @foreach (var item in ViewBag.Cart)
                { 
                    <li>
                        <div class="thumbnail">
                            <a href="/Balloon/Show/@item.Product.Id" title="@item.Product.Name">
                                <img src="/Content/ProductImages/@item.Product.Image" alt="@item.Product.Name" class="product-image" /></a>
                            <div class="caption">
                                <small>@((item.Product.Price * item.Quantity).ToString("c")) (@item.Quantity)</small>
                            </div>
                        </div>
                    </li>
                }
                <li><a href="/Cart" class="btn btn-mini">Go to cart</a></li>
            </ul>
        </div>
    }
    else
    { 
        <strong>Your shopping cart is empty.</strong>
    }
</div>
}

@*<table class="cart-content">
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Quantity x&nbsp;</td>
        <td><a href="@Url.Action("Show", "Balloon", new { id = item.Product.Id })" title="@item.Product.Name" class="shortentext">@item.Product.Name</a></td>
        <td style="text-align:right;">@((item.Product.Price * item.Quantity).ToString("c"))</td>
    </tr>
}
</tbody>
<tfoot>
    <tr>
        <td colspan="3"><a href="@Url.Action("Index", "Cart")">Go to cart</a></td>
    </tr>
</tfoot>
</table>*@

