@model IEnumerable<BalloonShop.Model.Category>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Displaying categories for department...</legend>
    <a href="@Url.Action("Departments", "Catalog")" class="AdminPageText">(go back to departments)</a><br />
    <br />
    <table class="table grid">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Category Description</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((x, i) => new { category = x, index = i }))
            {
                <tr class="@(item.index % 2 == 0 ? "" : "alternate")">
                    <td>@item.category.Name</td>
                    <td>@item.category.Description</td>
                    <td><a href="@Url.Action("Products", "Catalog", new { categoryid = item.category.Id })">View Products</a></td>
                    <td><a href="@Url.Action("Categories", "Catalog", new { id = item.category.Id, departmentid = ViewBag.DepartmentId })">Edit</a></td>
                    <td><a>Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
<br />
<form method="post" action="/catalog/categories" class="form-horizontal">
    <fieldset>
        <legend>Create a new category in this department:</legend>
        <input type="hidden" name="id" value="@ViewBag.Category.Id" />
        <input type="hidden" name="departmentid" value="@ViewBag.DepartmentId" />

        <div class="control-group">
            <label class="control-label">Name:</label>
            <div class="controls"><input type="text" name="name" class="input-xxlarge" value="@ViewBag.Category.Name" /></div>
        </div>

        <div class="control-group">
            <label class="control-label">Description:</label>
            <div class="controls"><textarea name="description" class="input-xxlarge" rows="5">@ViewBag.Category.Description</textarea></div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Create Category" />
        </div>
    </fieldset>
</form>
