@model IEnumerable<BalloonShop.Model.Department>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>These are your departments:</legend>
    <table class="table grid">
        <thead>
            <tr>
                <th>Department Name</th>
                <th>Department Description</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Select((x, i) => new { department = x, index = i }))
            {
                <tr class="@(item.index % 2 == 0 ? "" : "alternate")">
                    <td>@item.department.Name</td>
                    <td>@item.department.Description</td>
                    <td><a href="@Url.Action("Categories", "Catalog", new { departmentid = item.department.Id })">View Categories</a></td>
                    <td><a href="@Url.Action("Departments", "Catalog", new { id = item.department.Id })">Edit</a></td>
                    <td><a>Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
<br />
<form method="post" action="/catalog/departments/" class="form-horizontal">
    <fieldset>
        <legend>Create a new department:</legend>
        <input type="hidden" name="id" value="@ViewBag.Department.Id" />

        <div class="control-group">
            <label class="control-label">Name:</label>
            <div class="controls"><input type="text" class="input-xxlarge" name="name" value="@ViewBag.Department.Name" /></div>
        </div>

        <div class="control-group">
            <label class="control-label">Description:</label>
            <div class="controls"><textarea name="description" class="input-xxlarge" rows="5">@ViewBag.Department.Description</textarea></div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Create Department" />
        </div>
    </fieldset>
</form>
