@model IEnumerable<Balloon>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="AdminPageText">Products Loaded</span><br />
<br />
<span class="AdminPageText">Displaying products for category...</span>
<a href="@Url.Action("Categories", "Catalog", new { departmentid = ViewBag.DepartmentId })">(go back to categories)</a><br />
<br />
<table class="Grid" cellspacing="0" cellpadding="5">
    <thead>
        <tr class="GridHeader">
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Price</th>
            <th>Thumb</th>
            <th>Image</th>
            <th>Dept. prom.</th>
            <th>Cat. prom.</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((x, i) => new { product = x, index = i }))
        {
            <tr class="@(item.index % 2 == 0 ? "GridRow" : "GridAlternateRow")">
                <td>
                    <img src="/content/productimages/@item.product.Thumb" /></td>
                <td>@item.product.Name</td>
                <td>@item.product.Description</td>
                <td>@item.product.Price.ToString("0.00")</td>
                <td>@item.product.Thumb</td>
                <td>@item.product.Image</td>
                <td>@item.product.OnDepartmentPromotion</td>
                <td>@item.product.OnCatalogPromotion</td>
                <td><a href="@Url.Action("Product", "Catalog", new { id = item.product.Id, categoryid = ViewBag.CategoryId })">Select</a></td>
                <td><a>Edit</a></td>
            </tr>
        }
    </tbody>

</table>
<br />
<form>
    <span class="AdminPageText">Create a new product and assign it to this category:</span>
    <table class="AdminPageText" cellspacing="0">
        <tr>
            <td width="100" valign="top">Name:</td>
            <td>
                <input type="text" style="width:400px;" class="AdminPageText" name="Name" />
            </td>
        </tr>
        <tr>
            <td width="100" valign="top">Description:</td>
            <td>
                <textarea class="AdminPageText" name="Description" style="width:400px;height:70px;"></textarea>
            </td>
        </tr>
        <tr>
            <td width="100" valign="top">Price:</td>
            <td>
                <input type="text" style="width:400px;" class="AdminPageText" name="Price" value="0.00" />
            </td>
        </tr>
        <tr>
            <td width="100" valign="top">Image1 File:</td>
            <td>
                <input type="text" style="width:400px;" class="AdminPageText" name="Image1FileName" value="Generic1.png" />
            </td>
        </tr>
        <tr>
            <td width="150" valign="top">Image2 File:</td>
            <td>
                <input type="text" style="width:400px;" class="AdminPageText" name="Image2FileName" value="Generic2.png" />
            </td>
        </tr>
        <tr>
            <td width="150" valign="top">Dept. Promotion:</td>
            <td>
                <input type="checkbox" name="OnDepartmentPromotion" />
            </td>
        </tr>
        <tr>
            <td width="150" valign="top">Catalog Promotion:</td>
            <td>
                <input type="checkbox" name="OnCatalogPromotion" />
            </td>
        </tr>
    </table>
    <input type="submit" class="Button" value="Create Product" />
</form>

