@model System.Collections.Generic.IEnumerable<BalloonShop.Model.ShoppingCart>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navigation {
    @{Html.RenderAction("Navigation", "Department");}
    <br />
    @{Html.RenderPartial("../Search/SearchForm");}
}

<h1>Your Shopping Cart</h1>

<form method="post" action="@Url.Action("Update", "Cart")">
    <table cellspacing="0" cellpadding="4" style="border-width:0px;width:100%;border-collapse:collapse;">
        <thead>
            <tr class="GridHeader">
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th style="text-align:right;">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.Select((x, i) => new { Item = x, Index = i }).ToList()) {
        <tr class="@(obj.Index % 2 == 0 ? "GridRow" : "GridAlternateRow")">
            <td>@obj.Item.Balloon.Name</td>
            <td>@obj.Item.Balloon.Price.ToString("c")</td>
            <td>
                <input type="hidden" name="items[@obj.Index].Key" value="@obj.Item.Balloon.Id" />
                <input type="text" name="items[@obj.Index].Value" maxlength="2" style="width:24px;" value="@obj.Item.Quantity" />
            </td>
            <td style="text-align:right;">@((obj.Item.Balloon.Price * obj.Item.Quantity).ToString("c"))</td>
            <td style="text-align:right;"><button value="@obj.Item.Balloon.Id" name="remove" class="btn btn-danger" formaction="@Url.Action("Remove", "Cart")">Delete</button></td>
        </tr>       
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td style="text-align:right;">
                    <span class="ProductDescription">Total amount: </span>
                    <span class="ProductPrice">@ViewBag.Total.ToString("c")</span>
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <div class="form-actions" style="text-align:right;">
        <input type="submit" value="Update Quantities" class="btn btn-primary" />
                    <a href="@Url.Action("Checkout", "Cart")" class="btn btn-success btn-large">Proceed to Checkout</a>
    </div>
</form>


