@model IEnumerable<ShoppingCart>
<div>
    @if (Model.Any())
    {     
        <a href="@Url.Action("Index", "Cart")" class="btn btn-block btn-info" rel="popover" data-placement="bottom" data-html="true" data-title="Cart summary" data-source=".cart-content" title="Cart summary">
            
            <i class="icon-shopping-cart icon-white"></i> <strong>@ViewBag.Total.ToString("c")</strong>
        </a>

        <div class="hide">
            <table class="cart-content">
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Quantity x&nbsp;</td>
                        <td><a href="@Url.Action("Show", "Balloon", new { id = item.Product.Id })" title="@item.Product.Name">@item.Product.Name</a></td>
                        <td style="text-align:right;">@((item.Product.Price * item.Quantity).ToString("c"))</td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><a href="@Url.Action("Index", "Cart")">Go to cart</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    { 
        <strong>Your shopping cart is empty.</strong>
    }
</div>

