@model BalloonShop.Mvc.Features.Order.CheckoutViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
}

<h1>These are the products in your shopping cart:</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Product Name
            </th>
            <th>Price
            </th>
            <th>Quantity
            </th>
            <th style="text-align: right;">Subtotal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in (ViewBag.Cart as IEnumerable<ShoppingCart>).Select((x, i) => new { Item = x, Index = i }).ToList())
        {
            <tr>
                <td><img src="/Content/ProductImages/@obj.Item.Product.Thumb" class="product-image" /></td>
                <td>
                    <a href="@CatalogUrlHelper.ProductUrl(Html, obj.Item.Product)" class="lead">@obj.Item.Product.Name</a>
                </td>
                <td>
                    @obj.Item.Product.Price.ToString("c")
                </td>
                <td>
                    @obj.Item.Quantity
                </td>
                <td style="text-align: right;">
                    @((obj.Item.Product.Price * obj.Item.Quantity).ToString("c"))
                </td>
                <td></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td style="text-align: right;">
                Total amount: <strong>@ViewBag.Total.ToString("c")</strong>
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
<br />
<form method="post" action="/Cart/Checkout" class="form-horizontal">
    
        

            @Html.EditorFor(x => x.AccountDetails)

        
    
    <div class=" row-fluid">
        <fieldset class="span12">
            <br />
            <legend class="hide"></legend>

            <p>Please confirm that the above details are correct before proceeding.</p>
            <br />
            <div class="form-group">
                <div class="col-md-5">
                	<label class="control-label">Shipping type:</label>
                    <select name="ShippingType" id="ShippingType" class="form-control">
                        <option value="0">Please Select</option>
                        @foreach (var item in ViewBag.ShippingTypes)
                        { 
                            <option value="@item.Id" data-region="@item.Region.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>



            @Html.ValidationSummary(false, "", new { @class = "alert alert-error" })
            <br />
            <div class="form-actions" style="text-align: right;">
                <input type="submit" class="btn btn-success btn-large" value="Place order" />
            </div>

        </fieldset>
    </div>
</form>


@section Script {
    <script type="text/javascript">
        $(function () {
            var shipping = $('#ShippingType').prop('disabled', true),
                nothing = shipping.find('option[value=0]').clone(),
                types = shipping.find('option:not([value=0])').clone();

            $('#AccountDetails_ShippingRegion').on('change', function (e) {
                shipping.empty().append(nothing.clone()).append(types.filter('[data-region=' + $(this).val() + ']').clone()).prop('disabled', false);
            }).trigger('change');
        });
    </script>
}