@model Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a href="/">Balloon Shop</a> <span class="divider">/</span></li>
    <li><a href="/Department/Show/@Model.Department.Id">@Model.Department.Name</a> <span class="divider">/</span></li>
    <li class="active">@Model.Name</li>
</ul>

<h1>@Model.Name</h1>
<p class="lead">@Model.Description</p>
@{Html.RenderPartial("../Product/List", (object)ViewBag.Balloons);}
@(Html.Paging<Product, CategoryController>((object)ViewBag.Balloons, x => y => y.Show(Model.Id, x)))