 @model BalloonShop.Mvc.Models.AccountDetailsViewModel
<div class="control-group">@Html.LabelFor(x => x.Address1, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.Address1)</div></div>
<div class="control-group">@Html.LabelFor(x => x.Address2, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.Address2)</div></div>
<div class="control-group">@Html.LabelFor(x => x.City, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.City)</div></div>
<div class="control-group">@Html.LabelFor(x => x.Region, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.Region)</div></div>
<div class="control-group">@Html.LabelFor(x => x.PostalCode, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.PostalCode)</div></div>
<div class="control-group">@Html.LabelFor(x => x.Country, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.Country)</div></div>
<div class="control-group">@Html.LabelFor(x => x.ShippingRegion, new { @class="control-label" })<div class="controls">@Html.DropDownListFor(x => x.ShippingRegion, (IEnumerable<SelectListItem>) ViewBag.ShippingRegions)</div></div>
<div class="control-group">@Html.LabelFor(x => x.DaytimePhone, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.DaytimePhone)</div></div>
<div class="control-group">@Html.LabelFor(x => x.EveningPhone, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.EveningPhone)</div></div>
<div class="control-group">@Html.LabelFor(x => x.MobilePhone, new { @class="control-label" })<div class="controls">@Html.EditorFor(x => x.MobilePhone)</div></div>
<h5>Credit Card:</h5>
<div class="control-group">@Html.LabelFor(x => x.CardholderName, new { @class="control-label" })<div class="controls">@Html.TextBoxFor(x => x.CardholderName)</div></div>
<div class="control-group">@Html.LabelFor(x => x.CardType, new { @class="control-label" })<div class="controls">@Html.TextBoxFor(x => x.CardType)</div></div>
<div class="control-group">@Html.LabelFor(x => x.CardNumber, new { @class="control-label" })<div class="controls">@Html.TextBoxFor(x => x.CardNumber)</div></div>
<div class="control-group">@Html.LabelFor(x => x.IssueDate, new { @class="control-label" })<div class="controls">@Html.TextBoxFor(x => x.IssueDate)</div></div>
<div class="control-group">@Html.LabelFor(x => x.ExpiryDate, new { @class="control-label" })<div class="controls">@Html.TextBoxFor(x => x.ExpiryDate)</div></div>
<div class="control-group">@Html.LabelFor(x => x.IssueNumber, new { @class="control-label" })<div class="controls">@Html.TextBoxFor(x => x.IssueNumber)</div></div>