@model IEnumerable<Product>

<div class="row">
    @foreach (var item in Model.Select((x, i) => new { Index = i + 1, Product = x }).ToList())
    { 
        <div class="col-md-4">
            <a href="@CatalogUrlHelper.ProductUrl(Html, item.Product)" style="width:110px; height:105px; display:block;" class="pull-left">
                <img src="/Content/ProductImages/@item.Product.Thumb" class="product-image" />
            </a>
            <a class="ProductName" href="@CatalogUrlHelper.ProductUrl(Html, item.Product)">@item.Product.Name</a>
            <br />
            <span>@item.Product.Description.ShortenText()</span>
            <br />
            <span>Price:</span> <span class="ProductPrice">@item.Product.Price.ToString("c")</span>
            <form method="post" action="/cart/add">
                <input type="hidden" name="balloonid" value="@item.Product.Id" />
                <input type="hidden" name="returnurl" value="@Request.RawUrl" />
                <input type="hidden" name="quantity" value="1" />
                <input type="submit" value="Add to cart" class="btn btn-mini btn-success pull-right" />
            </form>
        </div>
        @(Html.Raw((item.Index % 3 == 0) ? "</div><div class=\"row\">" : ""))
    }
</div>
