@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BalloonShop</title>
    @Bundle.Css().MvcRenderCachedAssetTag("balloonshop");
</head>
<body>
    <br />
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                @{Html.RenderAction("Navigation", "Account");}
				
                @{Html.RenderAction("Navigation", "Department", new { DepartmentId = ViewBag.DepartmentId }); }
                
                @{ if (ViewBag.DepartmentId != null) { Html.RenderAction("Navigation", "Category", new { DepartmentId = ViewBag.DepartmentId, SelectedCategoryId = ViewBag.CategoryId }); } }

                @{ Html.RenderPartial("../Search/SearchForm"); }
                
                @{ if (ViewBag.HideCartNavigation == null || ViewBag.HideCartNavigation == false) { Html.RenderAction("Summary", "Cart"); } }
            </div>
            <div class="span8">
                <p>
                    <a href="@Url.Content("~/")">
                        <img src="/Content/Images/BalloonShopLogo.png" alt="BalloonShop">
                    </a>
                </p>
                @RenderBody()
            </div>
        </div>
    </div>

@Bundle.JavaScript().MvcRenderCachedAssetTag("balloonshop");
@RenderSection("Script", false)
</body>
</html>

